.imgcon {
    /* background-color: black; */
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
    margin-left: 3%;
    padding:100px;
    height: 100vh;
}
.imgcon img {
    height: 100%;
    border-radius:100%;
    padding: 0;
    max-height: 30rem;
}
.moa{
    border-radius: 10px;
    padding: 20px 15px;
    text-align: start;
    align-items: start;
    border: 1px solid white;
    margin-right: 70px;
    background: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(40px);
    box-shadow : 0 0 10px rgba(0 ,0, 0, .3);
    color:black;
}
.moa h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes slideIn {
    to{
        transform: translateY(0);
    }
}
.moa p{
    padding: 20px 0;
    min-width: 14rem;
    max-width: 30rem;
    text-align: start;
    align-items: start;
    margin-right: 70px;
    color:black;
}
.mee{
    position: relative;
}
.mee::before{
    content: '';
    position: absolute;
    background-color: rgb(97, 94, 94);
    width: 6rem;
    height: 3px;
    bottom: 12px;
    left: 0%;
}
#b-name {
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    transform: translateY(-20px);
    animation: slideIn 2s ease forwards ;
    animation-delay: 1.5s;
}
.role{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 30px;
    transform: translateY(20px);
    animation: slideIn 2s ease forwards ;
    animation-delay: 1.5s;
}/*
.q-abt{
    animation: scali 2s ease forwards ;
}
@keyframes scali {
    from{
        scale: 0.5;
    }
    to{
        scale: 1;
    }
} */
.social-icons {
    display: flex;
    gap: 8px;
    justify-content: start;
}
.social-icons a {
    /* border: solid; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    background-color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.social-icons a i{
    scale: 1.5;
}
.social-icons a:hover {
    background-color: rgb(37 99 235);
    transform: translateY(-1px);
}

#open-sbb{
    display: none;
    border: none;
    padding: .2em .3em;
    margin-left: auto;
    cursor: pointer;
    border-radius: 5px;
    
}
#close-sbb{
    border: none;
    padding: .1em .3em;
    cursor: pointer;
    display: none;
    border-radius: 5px;
}
#overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}




#About-s{
    background-image: url(../img/backgound/top-view-creative-flat-lay-workspace.avif);
    padding: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: max(100vh fit-content);
    width: 100%;
}
.Abt-me{
    display: inline-block;
    position: relative;
    font-family: 'Lucida Sans';
    font-weight: 500;
    font-size: 25px;
    color: white;
    font-family: Georgia;
    padding-bottom: 1rem;
    animation: move linear;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}
.Abt-me::before{
    content: '';
    position: absolute;
    height: 4px;
    bottom: .6rem;
    background-color: black;
    width: 10rem;
}
.cont{
    border-radius: 10px;
    max-width: 900px;
    height:fit-content;
    backdrop-filter: blur(300px);
    justify-self: center;
    padding: 20px;
    line-height: 2.5rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.contp{
    color: white;
    font-size: 1.6em;
    font-weight: 500;
    font-family: Georgia;
}




#Services-s{
    background-image: url(../img/backgound/premium_photo-1.jpg);
    height: max(100vh fit-content);
    /* the above works */
    padding: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.skep{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
.skills{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: .5rem;
    animation-duration: 2s;
    /* animation: appear linear; */
    /* animation-timeline: view(); */
    /* animation-range: entry 0% cover 30%; */
    scale: 1;
    opacity: 1;
}
.exp{
    background: rgba(255, 255, 255, 0.836);
    padding: .5rem;
    border-radius: 15px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.expd{
    padding: 20px 0;
}
.expd p{
    color: rgb(0, 0, 0);
    margin: 5px 0;
}
.exphe{
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
    margin: 5px 0;
}
.explo{
    display: block;
    color: rgb(8, 78, 230);
    font-size: 1.1rem;
}

.skills button {
    background-color: white;
    padding: 1rem 0;
    align-items: start;
    justify-content: start;
    align-self: self-start;

    border: solid rgb(112, 112, 223);
    border-radius: 18px;
    color: black;
    font-weight: bold;
    
    border-width: 1px;
    font-size: 18px;
    cursor: pointer;
    transition : box-shadow .2s, scale .2s;
    vertical-align: top; /*Putting this here so when I hover it doesm't drag others with it based on text align*/
}
.skills button:hover {
    scale: 1.07;
    box-shadow: 5px 0 10px gold, -5px 0 10px rgb(255, 0, 170);
}
.My-Sk{
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 28px;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: .5rem;
    animation: move linear;
    animation-timeline: view();
    animation-range: entry 0% cover 70%;
}
.My-Sk::before{
    content: '';
    position: absolute;
    height: 4px;
    bottom: -2px;
    background: linear-gradient(to right, blue, purple);
    width: 100%;
}
.My-Ske{
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 28px;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: .5rem;
}
.My-Ske::before{
    content: '';
    position: absolute;
    height: 4px;
    bottom: -2px;
    background: linear-gradient(to right, blue, purple);
    width: 100%;
}

#Projects-s{
    background-image: url(../img/backgound/flat-lay-workstation.avif);
    height: fit-content;
    padding: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Proj-h{
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 28px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: white;
    padding: 4px;
}

.Proj-h::before{
    content: '';
    position: absolute;
    height: 4px;
    bottom: -2px;
    background: linear-gradient(to right, blue, purple);
    width: 100%;
}
.prodi{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-self: center;
    height: fit-content;
    justify-content: space-between;
    margin-top: .5rem;
    align-items: center;
}
.Fincom, .portfo{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.699);
    backdrop-filter: blur(100px);
    padding: 1rem;
    justify-self: center;
    gap: 1rem;
    display: flex;
    animation: side linear;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}
.scrshot{
    width: 100%;
    border-radius: 10px;
    height: 100%; 
    margin: 0;
    padding: 0;
    /* max-height: 150rem; */
    object-fit: cover;
    /* object-position: left; */
}
.finc{
    position: relative;
    flex: 0.5;
}
.ovla{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: #00000086;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
    border: none;
    transition: opacity .3s;
}
.finc:hover .ovla{
    z-index: 1;
}
.ic{
    width: 1.1rem;
    align-self: center;
    justify-self: center;
}
.bic{
    position: absolute;
    z-index: 0;
    cursor: pointer;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    border: none;
    padding: .5rem;
}
.text{
    /* height: fit-content; 
    max-height: fit-content; */
    flex: 1;
}

.Fincom p, .portfo p{
    color: rgb(10, 10, 10);
    margin-top: 1rem;
    padding-top: 0;
    font-size: 20px;
    margin-bottom: 2rem;
    line-height: 28px;
}
.jsx{
    background-color: white;
    color: rgb(37 99 235);
    padding: .6rem;
    border-radius: 20px;
    display: block;
}
.mk{
    border-radius: 8px;
    margin: 0;
    padding-bottom: 0;
}
.proj-t{
    color: rgb(24, 24, 24) ;
    margin: 0;
    padding: .2rem .5rem;
    font-weight: 600;
    font-size: larger;
}



#Contact-s{
    background-image: url(../img/backgound/top-view-desktop.avif);
    height: 50vh;
    width: 100%;
    padding: 100px ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    margin: 0;
}
.connect-c, .quick-lc, .message-c{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.ConP{
    color: rgb(37 99 235);
    font-weight: 700;
    margin-bottom: 1.7rem;
    font-size: 1.5em;
    display: inline-block;
}
.pcon{
    line-height: 1.6rem;
}
.social-c{
    justify-content: space-around;
    margin-top: .5rem;
}
.social-c a{
    padding: 0 8px;
}
.social-c img{
    width: 7%;
    height: auto;
}
.qlP, .messageP{
    font-weight: 600;
    font-size: large;
}
.quick-l{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
.quick-l a{
        margin-top: 10px;
        color: black;
        text-decoration: none;
        width: fit-content;
        display: flex;  
        align-items: center;
        height: 24px;
        /* height: min-content; */
}
.jk{
    height: 20px;
    opacity: 0;
    width: 1.0rem;
    align-self: center;
    justify-self: center;
    transition: opacity .3s;
}
.quick-l a:hover{
    color: rgb(37 99 235);
}
.jj:hover .jk{
    opacity: 1;
}
.message-c, .quick-lc, .connect-c{
    background-color: rgba(255, 255, 255, 0.775);
    padding: 2rem;
    border-radius: 10px;
    transition: background-color .2s;
    
}
.message-c{
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.message-c:hover, .quick-lc:hover, .connect-c:hover{
    box-shadow: 2px 2px 10px black;
    background-color: rgba(255, 255, 255, 0.911);
}
.message-c button{
    background-color: rgb(37 99 235);
    color: white;
    border: none;
    width: 100%;
    border-radius: 100px;
    padding: .7em 4rem;
    margin-top: .4rem;
    font-size: clamp(.9rem,1.2rem,1.5rem);
    cursor: pointer;
    transition: background-color .2s;
}
.message-c button:hover{
    background-color: rgb(29, 75, 175);
}
.message-c a{
    align-self: center;
    justify-self: center;
    
}


/*    ANIMATION  */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in.show{
    opacity: 1;
    transform: translateY(0);
}
.slid-in {
    opacity: 0;
    transform: translatex(5%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slid-in.show{
    opacity: 1;
    transform: translateX(0);
}
.scal-in {
    opacity: 0;
    scale: 0.8;
    transition: opacity 0.6s ease-out, scale 0.6s ease-out;
}
.scal-in.show{
    opacity: 1;
    scale: 1;
}


/* 
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes move {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes side {
    from{
        opacity: 1;
        clip-path: inset(0 100% 0 
        0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    
} */