

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom:4px solid white ;
}
/* header::after{
    content: '';
    position: absolute;
    background-color:white ;
    height: 3px;
    bottom: 0;
    left: 0;
    width: 100%;
} */

.logo{
    margin-left: 10px;
    text-align: end;
    margin-right: auto;
}


nav ul {
    display: flex;
    /* border: solid; */
    
}

nav ul li {
    padding: 10px 20px;
    margin: 2px;
    display: flex;
    /* position: relative; */
    /* border-radius: 20px 4px;
    border: 1px solid ; */
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: box-shadow .13s ;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    background: linear-gradient(to right, red, blue);
    height: 3px;
    width: 0%;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    transition: .12s;
}


nav ul li:hover ::after{
    width: 102%;
}

nav ul li a:hover {
    /* background-color: gray; */
    box-shadow: 10px 0 50px blue, -10px 0 50px rgb(224, 82, 129);
}

