
@media screen and (max-width: 1080px) {
    .imgcon{
        flex-direction: column;
    }
}
@media screen  and (max-width:845px) {
    /* *{
        margin: 3px;
        padding: 5px;
    }
    body{
        margin: 20px;
        padding: 100px;
    } */
    nav{
        position: fixed;
        top: 0;
        right: -100%; /*Setting this to hide thevavbar initially moving it offscreen*/
        height: 100%;
        z-index: 10;
        width: min(15em, 100%);
        border-left: solid var(--hover-color);
        transition: right 300ms ease-out;
        background-color: black;

    }
    nav.show{
        right: 0;
    }
    nav.show ~ #overlay{
        display: block;
    }
    #open-sbb,#close-sbb{
        display: block;
    }
    
    nav ul {
        width: 100%;
        flex-direction: column;
        /* align them vertically with column */
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
    nav .home-li{
        margin-right: unset;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        position: fixed;
        top: 0;
        padding: 30px 25px;
        margin: 0;
        height: 7rem;
    }
    .logo{
        text-align: start;
        
        /* width: 60%; */
        /* margin: 0;
        padding: 0; */
    }
    .imgcon {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        justify-self: center;
        padding: 0;
        height: fit-content;

    }
    .moa{
        padding: 0;
        min-width: 320px;
        text-align: start;
        align-items: start;
        border: 1px solid white;
        margin-right: 70px;
        background: transparent;
        backdrop-filter: blur(20px);
        box-shadow : 0 0 10px rgba(0 ,0, 0, .3);
        color:black;
}
    .moa p{
        font-size: 18px;
    }
    .imgcon img{
        width: 350px;
    }



    #About-s{
        height: fit-content;
        padding:100px 20px;
        margin-right: 0;
        /* margin: 0; */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* margin-right: -20px; */
        /* width: min(100vw, 100%); */
    }

    .skills{
        padding: 10px;
        display:flex;
        flex-direction: column;
        grid-template-columns: 150px 150px 150px;
        gap: 20px;
    }

}

@media screen and (max-width: 579px) and (min-width : 424px) {
    #About-s, #Services, #Projects-s, #Contact-s{
        margin-right : -30%;
    }
}
@media screen and (max-width:423px ) and (min-width:233px) {
    #About-s, #Services, #Projects-s, #Contact-s{
        margin-right:-21em ;
        height: 100dvh;
    }
}
/*
@media screen and (max-width:232px ) {
    #About-s, #Services, #Projects-s, #Contact-s{
        margin-right:-200% ;
    }
    
}

@media screen and (max-width: 423px) {
    #About-s, #Services, #Projects-s, #Contact-s{
        margin-right: -300%;
    }
} */ 