@media screen and (max-width: 1080px) {
    .imgcon{
        flex-direction: column;
        height: fit-content;
    }
    #Contact-s{
        display: flex;
        flex-direction: column ;
        height: 100vh;
    }
    #Projects-s{
        padding: 4rem 1.5rem;
    }
    .scrshot{
        vertical-align: bottom;
    }
    .skep{
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }
    .social-c img{
        width: 20px;
        height: auto;
    }
}
/* TO FLEX IMAGE AT SOME POINT */

@media screen and (max-width:945px) {
    .Fincom, .portfo{
        display: flex;
        flex-direction: column;
        vertical-align: bottom;
    }
}

@media screen  and (max-width:845px) {
    .imgcon{
        flex-direction: column;
        height: fit-content;
        margin-bottom: 20px;
        margin: 0;
        padding: 2em;
        display: flex;
        background: black;
    }
    .imgcon img {
        width: 95%;
        height: 20rem;
        border-radius:100%;
        padding: 0;
        max-width: 350px;
    }
    .moa{
        padding: 0 11px;
        margin: 0 35px;
        color:white;
        background: black;
        position: relative;
        border-radius: 10px;
        border: 1px solid;
        width: 100%;
    }
    .moa p{
        color: white;
    }
    nav{
        position: fixed;
        top: 0;
        right: -100%; /*Setting this to hide the navbar initially moving it offscreen*/
        height: 100%;
        z-index: 10;
        width: min(15em, 100%);
        border-left: solid var(--hover-color);
        transition: right 300ms ease-out;
        background-color: black;

    }
    nav.show{
        right: 0;
    }
    nav.show ~ #overlay{
        display: block;
    }
    #open-sbb,#close-sbb{
        display: block;
    }
    nav ul {
        width: 100%;
        flex-direction: column;
        /* align them vertically with column */
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
    nav .home-li{
        margin-right: unset;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        position: fixed;
        top: 0;
        padding: 1rem;
        margin: 0;
        height: max-content;
        min-width: 0;
    }
    .logo{
        text-align: start;
        padding-left: 0;
        margin-left: 0;
    }

    #Services-s, #About-s, #Projects-s, #Home-s, #Contact-s{
        padding: 4rem 1.2rem;
        min-width: 320px;
    }
    .My-Sk{
        text-align: left;
        justify-self: start;
        right: 0;
    }
    
    #Contact-s{
    display: flex;
    flex-direction: column ;
    height: fit-content;

    }

    .prodi{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
    }
    .social-c img{
        width: 20px;
        height: auto;
    }
    
}

@media screen and (max-width:660px) {
    header {
        padding: 10px;
    }
    .moa p{
        margin-right: 0;
    }
    #Services-s{
        height: fit-content;
    }
    .cont{
        line-height: normal;
    }
    .contp{
        font-size: 19px; 
        opacity: 1;
    }

    .skep{
        display: flex;
        flex-direction: column;
        column-gap: 2rem;
    }

    .Fincom, .portfo{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.473);
        backdrop-filter: blur(100px);
        padding: 1rem;
        justify-self: center;
        gap: 0rem;
        min-width: 0;
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
    }
    .scrshot{
        width: 100%;
        border-radius: 10px;
        height: 100%; 
        margin: 0;
        padding: 0;
        vertical-align: bottom;
    }
    .ovla{
        width: 100%;
        border-radius: 10px;
        background: #00000086;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        z-index: -1;
    }

    .social-c img{
        width: 20px;
        height: auto;
    }
    }

@media screen and (max-width: 500px){
    .skills{
        grid-template-columns: 1fr 1fr;
    }
}